<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="./scripts/mainController.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.1/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="./styles/main.css" media="screen" />

<body>
    <div ng-app="myApp" ng-controller="myCtrl" id="main">
        <img ng-hide="hide_starting_page" src={{dikshaImage}} class="diksha_image"></img>
        <h3 ng-hide="hide_recorded_text" class="recorded_text">{{recorded_value}}</h3>
        <img ng-hide="hide_wave_image" class="wave_image" src={{wave_image}} </img>
        <img ng-hide="hide_talking_teacher" class="talking_teacher_main" src={{talkingImage}} </img>
        <img ng-hide="hide_second_teacher" class="talking_second_teacher" src={{second_teacher}} </img>
        <img ng-hide="hide_record_play_button" ng-click="startRecord()" class="record_play_button" src="{{play_button}}" </img>
        <img ng-hide="hide_record_stop_button" ng-click="stopRecord()" class="record_stop_button" src="{{stop_button}}" </img>
        <textarea class="recored_input_are" ng-model="recorded_value" ng-hide="hide_text_area">
        </textarea>
        <div class="center-con" ng-hide="hide_starting_page" ng-click="start()">
            <div class="round">
                <div id="cta">
                    <span class="arrow primera next "></span>
                    <span class="arrow segunda next "></span>
                </div>
            </div>
        </div>
        <div class="lets_go_text" ng-hide="hide_starting_page">
            <p>Let's go..</p>
        </div>
        <div>
            <table cellpadding="0" cellspacing="0" class="nouns_column" ng-hide="hide_nouns_tables">
                <tr>
                    <th>Nouns</th>
                </tr>
                <tbody ng-repeat="noun in nounsAre">
                    <tr>
                        <td>{{noun}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table cellpadding="0" cellspacing="0" class="preposition_column" ng-hide="hide_pre_positions_tables">
                <tr>
                    <th>PrePositions</th>
                </tr>
                <tbody ng-repeat="pre_position in prepositions">
                    <tr>
                        <td>{{pre_position}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>