<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="./scripts/appConfig.js"></script>
<script src="./scripts/mainController.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.1/js/materialize.min.js"></script>
<script src="/Users/admin/Documents/sunbird-projects/devcon-2020/scripts/libs/ui-bootstrap-tpls-2.5.0.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="./styles/main.css" media="screen" />
<link rel="stylesheet" type="text/css" href="./styles/main_2.css" media="screen" />
<link rel="stylesheet" type="text/css" href="./styles/normalize.css" media="screen" />
<link rel="stylesheet" type="text/css" href="./styles/gallery.css" media="screen" />

<body>
    <div ng-app="myApp" ng-controller="myCtrl" id="main">
        <img ng-hide="hide_starting_page" src={{dikshaImage}} class="diksha_image"></img>
        <h3 ng-hide="hide_recorded_text" class="recorded_text">{{recorded_value | uppercase}}</h3>
        <img ng-hide="hide_wave_image" class="wave_image" src={{wave_image}} </img>
        <img ng-hide="hide_talking_teacher" class="talking_teacher_main" src={{talkingImage}} </img>
        <img ng-hide="hide_second_teacher" class="talking_second_teacher" src={{second_teacher}} </img>
        <img ng-hide="hide_record_play_button" ng-click="startRecord()" class="record_play_button blink-image" src="{{play_button}}" </img>
        <img ng-hide="hide_cryingImage" class="crying_image" src="{{crying_image}}" </img>
        <img ng-hide="hide_record_stop_button" ng-click="stopRecord()" class="record_stop_button blink-image" src="{{stop_button}}" </img>
        <img ng-hide="hide_retry_button" ng-click="retry()" class="retry_button blink-image" src="{{retry_image}}" </img>
        <div class="container">
            <img class="class_board" ng-hide="hide_board_image" src="{{board_image}}" </img>

            <div class="centered" ng-hide="hide_board_image">{{recorded_value}}</div>

        </div>

        <textarea class="recored_input_are" ng-model="recorded_value" ng-hide="hide_text_area">
        </textarea>
        <div class="center-con" ng-hide="hide_starting_page" ng-click="start()">
            <div class="round">
                <div id="cta">
                    <span class="arrow primera next "></span>
                    <span class="arrow segunda next "></span>
                </div>
            </div>
        </div>
        <div class="lets_go_text" ng-hide="hide_starting_page">
            <p>Let's go..</p>
        </div>
        <div ng-hide="hide_nouns_tables" class="main_table" style="position: fixed;left: 25%;overflow-y:auto;height: 48%;bottom: 40%;">
            <div class="table-users">
                <div class="header">Word net</div>

                <table cellspacing="0">
                    <tr>
                        <th>Image</th>
                        <th>Word</th>
                        <th width="260">Description</th>
                        <th width="230">Synonyms & Holonyms</th>
                        <th width="230">Examples</th>
                        <th>Rhyming Words</th>
                    </tr>
                    <tbody ng-repeat="element in word_list">
                        {{element}}
                        <tr>
                            <td><img class="table_img" src={{element.picture[0]}} alt="" /></td>
                            <td>{{element.key}}</td>
                            <td>{{element.meaning}}</td>
                            <td><span ng-if="element.synonyms">SYNONYMS: {{element.synonyms}}</span>
                                <span ng-if="element.holonyms">HOLONYMS: {{element.holonyms}}</span>
                            </td>
                            <td>{{element.example}}</td>
                            <td>{{element.rhymingWords}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="main_tabled" ng-hide="hide_translated_tables" style="position:fixed;left: 25%;height:60%;top: 70%;">
            <div class="table-users">
                <div class=" header ">Translation</div>
                <table cellpadding="0 " cellspacing="0 " class="translated_table ">
                    <tr>
                        <th>Your Words</th>
                        <td>{{translate_input_subwords}}</td>
                    </tr>
                    <tr>
                        <th>Translated Words</th>
                        <td>{{translate_output_subwords}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>