        /* body {
                background-color: #B3E8B3;
            } */
        
        .talking_teacher_main {
            position: absolute;
            left: 40%;
            -webkit-animation: mymove 1.5s normal ease-in;
            animation: mymove 1.5s normal ease-in;
            animation-fill-mode: forwards;
            -webkit-animation: mymove 1.5s normal ease-in;
        }
        
        .record_play_button {
            float: right;
            right: 47%;
            width: 10%;
            position: absolute;
            top: 20%;
        }
        
        .record_stop_button {
            float: right;
            right: 47%;
            width: 10%;
            position: absolute;
            top: 20%;
        }
        
        .recored_input_are {
            overflow: auto;
            float: right;
            position: absolute;
            right: 35%;
            top: 60%;
        }
        
        .wave_image {
            position: absolute;
            left: 30%;
            top: 70%
        }
        
        .recorded_text {
            font: 30px/26px Helvetica, Helvetica Neue, Arial;
            font-weight: 400;
            color: black;
            margin: 10px 0;
            position: relative;
            text-align: center;
        }
        
        .diksha_image {
            position: absolute;
            left: 40%;
            margin-top: 20%;
        }
        
        textarea {
            /* margin-top: 10px;
                margin-left: 50px; */
            width: 400px;
            height: 100px;
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
            border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
            border-image: none;
            border-radius: 6px 6px 6px 6px;
            border-style: none solid solid none;
            border-width: medium 1px 1px medium;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
            color: #555555;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 1em;
            line-height: 1.4em;
            padding: 5px 8px;
            transition: background-color 0.2s ease 0s;
        }
        
        body {
            background: white;
            font-family: Arial, Helvetica;
            font-size: 12px;
            color: black;
        }
        
        footer {
            position: fixed;
            bottom: 20px;
            font-family: Arial, Helvetica;
            font-size: 12px;
            color: #fff;
        }
        
        footer img {
            margin-left: 20px;
        }
        
        footer span {
            position: relative;
            bottom: 4px;
        }
        
        a {
            text-decoration: none;
            color: #ffff;
        }
        
        .center-con {
            position: absolute;
            top: 10%;
            left: 49%;
            display: flex;
            height: 100vh;
            align-items: center;
            justify-content: center;
        }
        
        .round {
            position: absolute;
            border: 2px solid black;
            width: 40px;
            height: 40px;
            border-radius: 100%;
        }
        
        #cta {
            width: 100%;
            cursor: pointer;
            position: absolute;
        }
        
        #cta .arrow {
            left: 21%;
        }
        
        .class_board {
            float: right;
        }
        
        .arrow {
            position: absolute;
            bottom: 0;
            margin-left: 0px;
            width: 12px;
            height: 12px;
            background-size: contain;
            top: 15px;
        }
        
        .segunda {
            margin-left: 8px;
        }
        
        .next {
            background-image: url(https://cdn0.iconfinder.com/data/icons/website-kit-2/512/icon_403-512.png);
        }
        
        @keyframes bounceAlpha {
            0% {
                opacity: 1;
                transform: translateX(0px) scale(1);
            }
            25% {
                opacity: 0;
                transform: translateX(10px) scale(0.9);
            }
            26% {
                opacity: 0;
                transform: translateX(-10px) scale(0.9);
            }
            55% {
                opacity: 1;
                transform: translateX(0px) scale(1);
            }
        }
        
        .bounceAlpha {
            animation-name: bounceAlpha;
            animation-duration: 1.4s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        
        .arrow.primera.bounceAlpha {
            animation-name: bounceAlpha;
            animation-duration: 1.4s;
            animation-delay: 0.2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        
        .round .arrow {
            animation-name: bounceAlpha;
            animation-duration: 1.4s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        
        .round .arrow.primera {
            animation-name: bounceAlpha;
            animation-duration: 1.4s;
            animation-delay: 0.2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        
        .lets_go_text {
            color: black;
            left: 47%;
            top: 65%;
            position: absolute;
        }
        
        .nouns_column {
            left: 25%;
            bottom: 60%;
        }
        
        .preposition_column {
            left: 44%;
            bottom: 64%;
            position: absolute;
        }
        /* .translated_table {
            width: 30%;
            left: 63%;
            bottom: 60%;
            position: absolute;
        } */
        /* table {
            color: black;
            width: 10%;
            position: absolute;
            border-collapse: collapse;
            width: 15%;
        }
        
        th,
        td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        } */
        /* Firefox old*/
        
        @-moz-keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        
        @-webkit-keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        /* IE */
        
        @-ms-keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        
        @keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        
        .blink-image {
            -moz-animation: blink normal 1s infinite ease-in-out;
            /*Firefox*/
            -webkit-animation: blink normal 1s infinite ease-in-out;
            /*Webkit*/
            -ms-animation: blink normal 1s infinite ease-in-out;
            /*IE*/
            animation: blink normal 1s infinite ease-in-out;
            -we1bkit-animation: blink normal 1s infinite ease-in-out;
        }
        
        .thumbline_align {
            position: absolute;
            top: 70%;
            left: 30%;
        }
        
        .thumbline_text {
            bottom: 50%;
            position: relative;
            color: black
        }
        
        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
        }
        
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
            top: 100%;
            left: 50%;
            margin-left: -60px;
            font-size: 10px;
        }
        
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
        
        .container {
            position: relative;
            text-align: center;
            color: black;
            float: right;
        }
        
        .centered {
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: fantasy;
            font-size: x-large;
            font-style: initial;
        }
        
        .container {
            padding: 2rem 0rem;
        }
        
        body {
            background-color: #91ced4;
        }
        
        body * {
            box-sizing: border-box;
        }
        
        .header {
            background-color: #327a81;
            color: white;
            font-size: 1.5em;
            padding: 1rem;
            text-align: center;
            text-transform: uppercase;
        }
        
        .table_img {
            border-radius: 50%;
            height: 60px;
            width: 60px;
        }
        
        .table-users {
            border: 1px solid #327a81;
            border-radius: 10px;
            box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
            max-width: calc(100% - 2em);
            margin: 1em auto;
            overflow: hidden;
            width: 800px;
        }
        
        table {
            width: 100%;
        }
        
        table td,
        table th {
            color: #2b686e;
            padding: 10px;
        }
        
        table td {
            text-align: left;
            vertical-align: middle;
        }
        
        table td:last-child {
            font-size: 0.95em;
            line-height: 1.4;
            text-align: center;
        }
        
        table th {
            background-color: #daeff1;
            font-weight: 300;
        }
        
        table tr:nth-child(2n) {
            background-color: white;
        }
        
        table tr:nth-child(2n+1) {
            background-color: #edf7f8;
        }
        
        @media screen and (max-width: 700px) {
            table,
            tr,
            td {
                display: block;
            }
            td:first-child {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100px;
            }
            td:not(:first-child) {
                clear: both;
                margin-left: 100px;
                padding: 4px 20px 4px 90px;
                position: relative;
                text-align: left;
            }
            td:not(:first-child):before {
                color: #91ced4;
                content: '';
                display: block;
                left: 0;
                position: absolute;
            }
            td:nth-child(2):before {
                content: 'Name:';
            }
            td:nth-child(3):before {
                content: 'Email:';
            }
            td:nth-child(4):before {
                content: 'Phone:';
            }
            td:nth-child(5):before {
                content: 'Comments:';
            }
            tr {
                padding: 10px 0;
                position: relative;
            }
            tr:first-child {
                display: none;
            }
        }
        
        @media screen and (max-width: 500px) {
            .header {
                background-color: transparent;
                color: #fff;
                font-size: 2em;
                font-weight: 700;
                padding: 0;
                text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
            }
            .table_img {
                border: 3px solid;
                border-color: #daeff1;
                height: 100px;
                margin: 0.5rem 0;
                width: 100px;
            }
            td:first-child {
                background-color: #c8e7ea;
                border-bottom: 1px solid #91ced4;
                border-radius: 10px 10px 0 0;
                position: relative;
                top: 0;
                transform: translateY(0);
                width: 100%;
            }
            td:not(:first-child) {
                margin: 0;
                padding: 5px 1em;
                width: 100%;
            }
            td:not(:first-child):before {
                font-size: 0.8em;
                padding-top: 0.3em;
                position: relative;
            }
            td:last-child {
                padding-bottom: 1rem !important;
            }
            tr {
                background-color: white !important;
                border: 1px solid #6cbec6;
                border-radius: 10px;
                box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
                margin: 0.5rem 0;
                padding: 0;
            }
            .table-users {
                border: none;
                box-shadow: none;
                overflow: visible;
            }
            .main_table {
                bottom: 20%;
                left: 20%;
                /* bottom: -49%; */
                position: absolute;
            }
        }
        
        .retry_button {
            width: 6%;
            float: right;
            position: absolute;
            right: 3%;
            top: 12%;
        }
        
        .crying_image {
            float: right;
            right: 42%;
            width: 16%;
            position: absolute;
            top: 20%;
        }
        /* .class {
            width: 100px;
            height: 100px;
            background: red;
            position: relative;
            animation: mymove 2s;
            animation-fill-mode: forwards;
            -webkit-animation: mymove 2s;
        } */
        /* #float {
            position: relative;
            -webkit-animation: mymove 2s 1 normal ease-out;
            animation: mymove 2s 1 normal ease-in;
            animation-fill-mode: forwards;
        } */
        
        @keyframes mymove {
            from {
                top: -1000px;
            }
            to {
                top: 100px;
            }
        }